.App {
  text-align: center;

}
body{
  background-color: rgba(7, 5, 5, 0.5);
}

/* body{
background-color: burlywood;
}
button { 
  background-color: cyan;
}
h1{
  color: blue;
}
h3{
  color : red;
}
button:hover { 
  background-color: coral;
}
p{
  font-weight: bold;
  font-size: 70px;
  color: red;
} */